@tailwind base;
@tailwind components;
@tailwind utilities;

.active{
    font-weight: 700;
    color: white ;
}

*{
    font-family: 'Montserrat', sans-serif;
}
.swal2-close:focus {
    outline: none;
   box-shadow: none !important;
}